---
layout: base.njk
---

<div class="about">

  <h1>About {{ name }}</h1>
    <div class="row">
      <div class="col-md-5">
  {# <img src="{{ image | url }}" alt="" class="img-fluid"> #}
        {% image './src/'+image, image, "776","" %}
  </div>
        <div class="col-md-5">
  {{ content | safe }}
 </div> </div>
</div>